*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* The Root Font Size is in the Root - html */
html {
  /* 1rem*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
