/* @media screen and ((max-width: $tablet-width) (min-width: $cell-width)) {
  .heading-primary {
    font-size: 3.5rem;
    letter-spacing: 2.5rem;
  }
} */

/* 
//BREACKPOINTS
$desktop-width: 1260px;
$tablet-width: 960px;
$cell-width: 480px;
 */

/* 
//MEDIA QUERIES

$breakpoint-tablet: 768px;

@include breakpoint(453px $breakpoint-tablet) {

}

@include breakpoint($breakpoint-tablet 850px) {

}
*/
