$color-primary-1: #537eff;
$color-primary-2: #032380;
$color-primary-3: #0645ff;
$color-primary-4: #293f80;
$color-primary-5: #0537cc;
$color-primary-6: #eaf5ff;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
