.footer {
  width: 100vw;
  height: 50vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-1, 0.8),
      rgba($color-primary-4, 0.8)
    ),
    url("../../assets/milkyWay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  color: white;
  font-size: 2rem;
  max-width: 95vw;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    padding: 2rem;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}

.row {
  display: flex;
  text-align: center;
  position: relative;
  padding-top: 9%;
}

.venu {
  margin-top: 1.8rem;
}

@media screen and (max-width: #{$cell-width}) {
  .footer {
    height: 130vh;
    width: 90vw;
  }

  .venu {
    margin-left: -1.8rem;
    margin-top: 2rem;
  }
}
