.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-1, 0.8),
      rgba($color-primary-4, 0.8)
    ),
    url("../../assets/sky.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__text-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .row {
    display: flex;
  }

  .project {
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: #{$cell-width}) {
  .heading-primary--main {
    font-size: 2rem;
    letter-spacing: 2.4rem;
  }

  .heading-primary--sub {
    font-size: 1.2rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -4rem;
  }

  .project {
    margin-left: -1.8rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: #{$cell-sideway}) {
  .heading-primary--main {
    font-size: 2rem;
    letter-spacing: 2.6rem;
  }

  .heading-primary--sub {
    font-size: 1.4rem;
  }
}
